* {
  -webkit-box-sizing: border-box;
}

body {
  font-size: 12px;
  line-height: 120%;
  color: #222;
  font-family: Lucida Grande, sans-serif;
  cursor: default;
}

.header {
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
  height: 35px;

  .col {
    &.data {
      line-height: 35px;
    }

    &.name {
      padding-top: 3px;
    }
  }
}

div.content {
  .data {
    height: 100%;
    background: #ededed;
    padding: 10px;
  }

  .col.name {
    padding-left: 0;
  }

  .col.data {
    word-wrap: break-word;
    word-break: break-word;
  }

  ul li {
    cursor: pointer;
  }
}

.header, .content {
  .col {
    float: left;

    &.name {
      width: 20%;
      border-right: 1px solid #cdcdcd;
      padding-left: 4px;
      height: 100%;

      div.under {
        color: #cdcdcd;
      }

      ul {
        padding: 0;
        margin: 0;

        li {
          list-style: none;
          border-bottom: 1px solid #cdcdcd;
          height: 60px;
          padding-left: 8px;
          padding-top: 8px;

          &:nth-child(even) {
            background: #f3f3f3;
          }

          &.selected {
            background: #eee;
          }
          &.incoming {
            border-left: 5px solid #F3801E;
          }
          &.outgoing {
            border-left: 5px solid #A725D8;
          }

        }
      }
    }

    &.data {
      width: 80%;
      padding-left: 4px;
    }
  }
}

ul.tabs {
  padding: 0;
  margin: 20px;
  border-bottom: 1px solid #000;

  li {
    border: 1px solid #ccc;
    border-bottom: none;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    height: 30px;
  }

  li.active {
    height: 31px;
    position: relative;
    top: 2px;
    background: red;
    border-bottom: #ededed;
  }

}

pre {
  border: 1px solid #ccc;
  background: #fff;
  padding: 15px;
  font-family: "monospace";
  margin: 20px;
}